h3 {
    margin: 0;
    opacity: 0.5;
    letter-spacing: 2px;
  }

  img {
    width: 100px;
    margin-bottom: 20px;
  }

  .quote {
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 40px;
    margin: 50px auto;
    max-width: 600px;
  }
